

<h4>Nombre:  Edwin Giovanni Lopez Y Lopez</h4>
<h4>   Carnet: 0907-18-02581 </h4>
<h4>  docente : Ing. Carlos Hernadez</h4>

<h1>operaciones</h1 >

    <h3>
<input type="number" class="form-control" placeholder="valor 1" id="val1" [(ngModel)]="val1">
<input type="number" class="form-control" placeholder="valor 2" id="val2" [(ngModel)]="val2"> 


el valor es =  {{rta}}   <br>
  
 


<br>


<button class="btn-btn-primary" (click)="operacion()">sumar </button><br>

<button class="btn-btn-primary" (click)="operacionresta()">resta </button ><br>

<button class="btn-btn-primary" (click)="operacionmultiplicar()">multiplicar </button><br>


<button class="btn-btn-primary" (click)="operaciondidivision()">dividir </button><br>

</h3>

